* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #1d080a;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: rgb(184, 166, 152);
    background: linear-gradient(circle, rgb(152, 124, 103) 40%, rgb(188, 163, 154) 100%);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobbies,
.wellness,
.dates,
.financial,
.travel,
.selfcare {
    width: calc(33.33% - 20px);
    border: 1px solid grey;
    border-width: 2px;
    text-align: center;
    min-height: 200px;
    height: auto;
    padding: 8px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
    background: #e8dbdc;
}

h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #744b33;
}

input {
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    flex: 2;
}

button {
    border: none;
    outline: none;
    background: #744b33;
    color: #e8dbdc;
    cursor: pointer;
    padding: 16px 20px;
    border-radius: 30px;
    flex: 1;
    margin-left: 10px; 
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 30px;
    user-select: none;
    cursor: pointer;
    position: relative;
}


ul li::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}


ul li.checked {
    color: #e8dbdc;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(checked.png);
}


ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #e8dbdc;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}

ul li span:hover {
    background: #fde6e8;
    color: #744b33;
    border-radius: 50%;
}


@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .hobbies,
    .wellness,
    .dates,
    .financial,
    .travel,
    .selfcare {
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        justify-content: space-around;
    }

    .hobbies,
    .wellness,
    .dates,
    .financial,
    .travel,
    .selfcare {
        width: calc(50% - 20px);
        margin-right: 0;
    }
}

